.btn {
  /* Always inline-block */
  display: inline-block;
  /* Default padding */
  padding: 15px 30px;
}

.btn-green-round {
  /* Background */
  /* --- Color stolen using Digital Color Meter --- */
  background-color: rgb(28, 213, 142);
  /* Content */
  color: white;
  /* Border */
  border-radius: 30px;
  /* Transition */
  transition: 0.3s all;
}
